[submodule "themes/flex"]
	path = templates/flex
	url = https://github.com/alexandrevicenzi/Flex.git
[submodule "themes/pelican-clean-blog"]
	path = templates/pelican-clean-blog
	url = https://github.com/gilsondev/pelican-clean-blog.git
[submodule "templates/blog-theme"]
	path = templates/blog-theme
	url = git@github.com:little-engineer-2025/blog-theme.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
